@model Elastic.Clients.Elasticsearch.SearchResponse<Book>

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post">
    <input type="text" name="query" />
    <input type="submit" value="Search" />
</form>

<div class="text-center">
    <h1 class="display-4">Getting Started with Elasticsearch</h1>
</div>

@if (Model.Hits.Any())
{
    <h3>Search Results</h3>
    <ul>
    @foreach (var hit in Model.Hits)
    {
        <li>Title: @hit.Source?.Title (ISBN: @hit.Source?.Isbn)</li>
    }
    </ul>
}

@if (Model.Aggregations != null)
{
    <h3>Aggregations</h3>
    @if (Model.Aggregations.ContainsKey("pageCounts"))
    {
        <h4>PageCounts (Range)</h4>
        var pageCountsAggregation = Model.Aggregations.GetRange("pageCounts");
        if (pageCountsAggregation != null)
        {
            foreach (var bucket in pageCountsAggregation.Buckets)
            {
                <li>@bucket.Key: @bucket.DocCount</li>
            }
        }
        else
        {
            <li>No range aggregation results found.</li>
        }
    }
}
